<div id="actionbar">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{damage.damageDetail.type.toUpperCase()}}</h4>
            <dl>
                <dt>Quantidade de pessoas alocadas:</dt>
                <dd>
                    <h5> {{damage.damageDetail.peopleQuantity}}</h5>
                </dd>
            </dl>
            <div class="divider"></div>
            <dl ng-repeat="p in damage.damageDetail.params" class="margin-bottom">
                <dt>{{p.key}}:</dt>
                <dd>
                    {{p.value}}
                </dd>
            </dl>
            <button class="btn btn-secondary btn-outline btn-block margin-bottom" ng-click="damage.closeActionBar()">Fechar</button>
        </div>
    </div>
</div>