<!-- /#page-wrapper -->
<div id="actionbar" ng-if="data.filesToUpload.length <= 0">
    <div class="row">
        <div class="col-sm-12">
            <h4>Novo Arquivo</h4>
            <h5>Última atualização da base: </h5>
            <h6>{{data.lastUpdate | date : "medium"}}</h6>
            <div class="divider"></div>
            <dl>
                <dt>Upload de arquivo no servidor:</dt>
                <dd><input id="uploadFile" type="file" class="block" value="Selecionar Arquivo" multiple onchange="angular.element(this).scope().$parent.data.readerFileSelected(this)"></input></dd>
            </dl>
        </div>
    </div>
</div>
<div id="actionbar" ng-if="data.filesToUpload.length > 0">
    <h4>Enviar Arquivos</h4>
    <div class="divider"></div>
    <div class="row" ng-repeat="file in data.filesToUpload">
        <div class="col-sm-12">
            <dl>
                <dt>Upload de arquivo no servidor:</dt>
                <dd><input type="text" class="block" value="{{file.name}}" disabled></input></dd>
            </dl>
            <dl>
                <dt>Visualizar:</dt>
                <dd><textarea type="text" class="block" readonly>{{file.content}}</textarea></dd>
            </dl>
            <dl>
                <div ng-if="file.notSend" class="alert alert-danger text-center">Arquivo não enviado ao servidor, verifique!</div>
                <div ng-if="file.progress >= 100" class="alert alert-success text-center">Arquivo enviado com sucesso!</div>
                <div class="progress" ng-if="file.progress && file.progress < 100">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: file.progress}}%">
                        {{file.progress | number: 2}}%
                    </div>
                </div>
            </dl>
            <div class="divider"></div>
        </div>
    </div>
<div>
    <button class="btn btn-secondary btn-outline btn-block margin-bottom" ng-click="data.clearFilesToUpload()">Cancelar</button>
    <button class="btn btn-primary btn-block" ng-click="data.verifyFilesToUpload()">Enviar Arquivo</button>
</div>
</div>