<div id="actionbar">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{map.object.Type.value.toUpperCase()}}</h4>
            <dl>
                <dt ng-if="map.object.Id.value">Código do Elemento:</dt>
                <dd ng-if="map.object.Id.value">{{map.object.Id.value}}</dd>
                <dt ng-if="map.object.Feeder.value">Código do Alimentador:</dt>
                <dd ng-if="map.object.Feeder.value">{{map.object.Feeder.value}}</dd>
                <dt>Latitude:</dt>
                <dd>{{map.object.Latitude.value | number}}</dd>
                <dt>Longitude:</dt>
                <dd>{{map.object.Longitude.value | number}}</dd>
            </dl>
            <div class="divider"></div>
            <dl ng-repeat="p in map.object.Properties" class="margin-bottom" ng-if="(p.value !== undefined && p.value !== null)">
                <dt>{{p.alias}}</dt>
                <dd ng-if="p.type === 'blob'">
                    <img ng-src="{{p.value != '' && p.value || '../scripts/dist/img/no-photo.png'}}" class="tree-picture-detail" />
                </dd>
                <dd ng-if="p.type === 'number'">
                    {{p.value | number}}
                </dd>
                <dd ng-if="p.type === 'date'">
                    {{p.value | date: 'medium'}}
                </dd>
                <dd ng-if="p.type === 'string'">
                    {{p.value}}
                </dd>
                <dd ng-if="p.type === 'percent'">
                    {{p.value * 100 | number: 2}}%
                </dd>
            </dl>
            <div class="divider"></div>
            <dl>
                <dt>Rua:</dt>
                <dd>{{map.object.address.street}}{{map.object.address.number}}</dd>
                <dt>Cidade:</dt>
                <dd>{{map.object.address.city}}</dd>
                <dt>Estado:</dt>
                <dd>{{map.object.address.state}}</dd>
                <dt>País:</dt>
                <dd>{{map.object.address.country}}</dd>
            </dl>
            <div class="divider"></div>
            <!-- <img ng-src="{{map.streetViewImageUrl}}" class="margin-bottom street-view" />
			<a href="{{map.streetViewLink}}" target="_blank" class="btn btn-secondary btn-outline btn-block margin-bottom">Ver no Street View</a>                            
            <button class="btn btn-secondary btn-outline btn-block margin-bottom" ng-click="map.closeActionBar(); map.removeHighlight()">Fechar</button> -->
            <button class="btn btn-primary btn-outline btn-block margin-bottom" ng-click="map.alocateTeam()">Alocar equipe</button>
            <button class="btn btn-secondary btn-outline btn-block margin-bottom" ng-click="map.closeActionBar()">Fechar</button>
        </div>
    </div>
</div>