<div id="actionbar" ng-if="!team.isEditing">
    <div class="row">
        <div class="col-sm-12">
            <h4>Nova Alocação</h4>
            <div class="divider"></div>
            <dl class="row">
                <dt>Evento:</dt>
                <div class="col col-xs-12">
                    <input type="checkbox" ng-model="team.generateParams.fire" id="fire" ng-change="team.changeArea()">
                    <label for="fire">Focos de incêndio</label>
                </div>
                <div class="col col-xs-12">
                    <input type="checkbox" ng-model="team.generateParams.thunder" id="thunder" ng-change="team.changeArea()">
                    <label for="thunder">Incidência de raios</label>
                </div>
                <div class="col col-xs-12">
                    <input type="checkbox" ng-model="team.generateParams.wind" id="wind" ng-change="team.changeArea()">
                    <label for="thunder">Incidência de ventos</label>
                </div>
            </dl>
            <div class="divider"></div>
            <dl class="row">
                <dt>Prioridade do evento:</dt>
                <div class="col col-xs-12">
                    <select ng-options="n for n in team.priorities" ng-model="team.generateParams.priorities" multiple class="block" style="height: 90px"
                        ng-change="team.changeArea()"></select>
                </div>
            </dl>
            <div class="divider"></div>
            <dl class="row">
                <dt class="margin-bottom-small">Área de Interesse:</dt>
                <div class="col col-xs-6" ng-if="team.generateParams.priorities.length > 0">
                    <input type="radio" class="margin-right-xsmall" name="area" ng-model="team.generateParams.area" value="line" id="line" ng-change="team.changeArea()"
                    />
                    <label for="line">Linha</label>
                </div>
                <div class="col col-xs-6" ng-if="team.generateParams.priorities.length > 0">
                    <input type="radio" class="margin-right-xsmall" name="area" ng-model="team.generateParams.area" value="cities" id="cities"
                        ng-change="team.changeArea()" />
                    <label for="cities">Cidade</label>
                </div>
                <dd>
                    <select ng-options="n  for n in team.areas" ng-model="team.generateParams.areas" multiple class="block"></select>
                </dd>
            </dl>
            <div class="divider"></div>
            <dl class="row">
                <dt>Bases operacionais:</dt>
                <div class="col col-xs-12">
                    <select ng-options="n for n in team._bases" ng-model="team.generateParams.bases" multiple class="block"></select>
                </div>
            </dl>
            <div class="divider"></div>
            <dl class="row">
                <dt>Tempo de trabalho (h):</dt>
                <dd>
                    <input type="number" ng-model="team.generateParams.workTime" />
                </dd>
                <dt>Velocidade de deslocamento (km/h):</dt>
                <dd>
                    <input type="number" ng-model="team.generateParams.velocity" />
                </dd>
            </dl>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <button class="btn btn-secondary btn-outline btn-block margin-bottom" ng-click="team.cancelGeneration()">Cancelar Geração</button>
        <button class="btn btn-primary btn-block margin-bottom" ng-click="team.generateAllocation()">Gerar alocação</button>
    </div>
</div>

<div id="actionbar" ng-if="team.isEditing">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{team.object.Type.value.toUpperCase()}}</h4>
            <dl>
                <dt ng-if="team.object.Id.value">Código do Elemento:</dt>
                <dd ng-if="team.object.Id.value">{{team.object.Id.value}}</dd>
                <dt ng-if="team.object.Feeder.value">Código do Alimentador:</dt>
                <dd ng-if="team.object.Feeder.value">{{team.object.Feeder.value}}</dd>
                <dt>Latitude:</dt>
                <dd>{{team.object.Latitude.value | number}}</dd>
                <dt>Longitude:</dt>
                <dd>{{team.object.Longitude.value | number}}</dd>
            </dl>
            <div class="divider"></div>
            <dl ng-repeat="p in team.object.Properties" class="margin-bottom" ng-if="(p.value !== undefined && p.value !== null)">
                <dt>{{p.alias}}</dt>
                <dd ng-if="p.type === 'blob'">
                    <img ng-src="{{p.value != '' && p.value || '../scripts/dist/img/no-photo.png'}}" class="tree-picture-detail" />
                </dd>
                <dd ng-if="p.type === 'number'">
                    {{p.value | number}}
                </dd>
                <dd ng-if="p.type === 'date'">
                    {{p.value | date: 'medium'}}
                </dd>
                <dd ng-if="p.type === 'string'">
                    {{p.value}}
                </dd>
                <dd ng-if="p.type === 'percent'">
                    {{p.value * 100 | number: 2}}%
                </dd>
            </dl>
            <div class="divider"></div>
            <dl>
                <dt>Rua:</dt>
                <dd>{{team.object.address.street}}</dd>
                <dt>Cidade:</dt>
                <dd>{{team.object.address.city}}</dd>
                <dt>Estado:</dt>
                <dd>{{team.object.address.state}}</dd>
                <dt>País:</dt>
                <dd>{{team.object.address.country}}</dd>
            </dl>
            <div class="divider"></div>
            <dl>
                <dt>Previsão do evento:</dt>
                <dd>{{team.object.date | date: 'medium'}}</dd>
                <dt>Base operacional:</dt>
                <dd>{{team.object.base.Name}}</dd>
                <dt>Equipes:</dt>
                <dd ng-repeat="t in team.object.base.Teams">{{t}}</dd>
            </dl>
        </div>
    </div>
</div>