<div class="map" ng-controller="mapController as map">
    <div id="leafletmap"></div>
    <div class="map-search-area">
        <span class="fa fa-search fa-fw search-icon"></span>
        <input class="map-search" type="search" placeholder="Ex.: PTF-F1" id="searchInput" focusiconsearch />
    </div>
    <ng-include src="'ng-includes/maptoolbar.html'"></ng-include>
</div>