<style type="text/css">
    .wind {
        width: 100%;
        height: 10px;            
    }
</style>


<div class="map-toolbar">
    <button ng-click="map.enableOrDisableMapAddOn($event, 'controlOverLayers')">
        <i class="fa fa-object-ungroup"></i>
        <b>Camadas</b>
    </button>
    <button ng-click="map.enableOrDisableMapAddOn($event, 'controlBaseLayers')">
        <i class="fa fa-map-o"></i>
        <b>Tipos de Mapas</b>
    </button>
    <button ng-click="map.enableOrDisableMapAddOn($event, 'radar')">
        <i class="fa fa-globe"></i>
        <b>Radar</b>
    </button>
    <button ng-click="map.enableOrDisableMapAddOn($event, 'magnifyingGlass')">
        <i class="fa fa-search-plus"></i>
        <b>Lupa</b>
    </button>
    <button ng-click="map.centerMapAtLayers($event)">
        <i class="fa fa-arrows"></i>
        <b>Centralizar</b>
    </button>
    <button ng-click="map.executeSearchParam($event,'fire')" class="forecast">
        <i class="fa fa-fire fa-fw"></i>
        <b>Focos de incêndio</b>
    </button>
    <button ng-click="map.executeSearchParam($event,'thunder')" class="forecast">
        <i class="fa fa-bolt fa-fw"></i>
        <b>Previsão de raios</b>
    </button>
    <button ng-click="map.executeSearchParam($event,'wind')" class="forecast">
        <i class="icon-wind4"></i>
        <b>Previsão de ventos</b>
    </button>    
</div>