<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="index.html"><img src="scripts/dist/img/logo-energisa.png" alt="Gestão de Poda"></a>-->
        <a class="navbar-brand" href="index.html"><img src="scripts/dist/img/taesa.png" alt="Gestão de Poda">
            <!-- <div>Gestão de Podas</div> -->
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown" id="notificationBell" ng-click="main.newNotifications = 0">
            <a class="dropdown-toggle" data-toggle="dropdown" href="" >
                <div class="badge" ng-if="main.newNotifications> 0">{{main.newNotifications}}</div>
                <i class="fa fa-bell fa-fw"></i>
                <i class="fa fa-caret-down"></i>                
            </a>
            <ul class="dropdown-menu dropdown-alerts notification-list">
                <li ng-if="main.notifications[0] && !main.viewAllNotifications">
                    <a href="">
                        <div>
                            <i class="fa {{main.notifications[0].icon}} fa-fw"></i><strong> {{main.notifications[0].title}}</strong>
                            <span class="pull-right text-muted small">{{main.notifications[0].Date | date:'HH:mm:ss:sss dd/MM/yyyy'}}</span>
                            <p>{{main.notifications[0].Message}}</p>
                        </div>
                    </a>
                </li>
                <li class="divider" ng-if="main.notifications[0] && !main.viewAllNotifications"></li>
                <li ng-if="main.notifications[1] && !main.viewAllNotifications">
                    <a href="">
                        <div>
                            <i class="fa {{main.notifications[1].icon}} fa-fw"></i><strong> {{main.notifications[1].title}}</strong>
                            <span class="pull-right text-muted small">{{main.notifications[1].Date | date:'HH:mm:ss:sss dd/MM/yyyy'}}</span>
                            <p>{{main.notifications[1].Message}}</p>
                        </div>
                    </a>
                </li>
                <li class="divider" ng-if="main.notifications[1] && !main.viewAllNotifications"></li>
                <li ng-if="main.notifications[2] && !main.viewAllNotifications">
                    <a href="">
                        <div>
                            <i class="fa {{main.notifications[2].icon}} fa-fw"></i><strong> {{main.notifications[2].title}}</strong>
                            <span class="pull-right text-muted small">{{main.notifications[2].Date | date:'HH:mm:ss:sss dd/MM/yyyy'}}</span>
                            <p>{{main.notifications[2].Message}}</p>
                        </div>
                    </a>
                </li>
                <li class="divider" ng-if="main.notifications[2] && !main.viewAllNotifications"></li>

                <li ng-click="main.showNotificationModal()" class="notification-list-repeat">
                    <a class="text-center" href="">
                        <strong>Ver Todas Notificações</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href=""><i class="fa fa-user fa-fw"></i> {{main.user}}</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                <i class="fa fa-question-circle "></i><i class="fa fa-caret-down" style="margin-left: 10px"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li ng-repeat="link in main.helpLinks">
                    <a href="" ng-click="main.showVideoHelp(link)"><!--<i class="fa fa-user fa-fw"></i>--> {{link.title}}</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
    </ul>
    <!-- /.navbar-top-links -->

    <ng-include src="'ng-includes/sidebar.html'"></ng-include>
</nav>