<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="notificationModalLabel">Todas Notificações</h4>
            </div>
            <div class="modal-body">
                <ul class="all-notifications">
                    <li ng-repeat="notification in main.notifications" class="divide">
                        <div>
                            <i class="fa {{notification.icon}} fa-fw"></i><strong>{{notification.title}}</strong><span class="pull-right text-muted small">{{notification.Date | date:'HH:mm:ss:sss dd/MM/yyyy'}}</span>
                            <p>{{notification.Message}}</p>
                        </div>
                    </li>

                </ul>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary">Limpar</button>
            </div>-->
        </div>
    </div>
</div>