<style>
    .add {
        color: blue;
        margin-left: 15px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }
</style>

<div id="actionbar">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{base.isEditing ? 'Editar Base Operacional' : 'Nova Base Operacional'}}</h4>
            <div class="divider"></div>
            <dl>
                <dt>Nome:</dt>
                <dd>
                    <input class="block" type="text" ng-model="base.object.name" />
                </dd>
                <dt>Endereço:</dt>
                <dd>
                    <input class="block" id="autocomplete" type="text" ng-model="base.object.addrees" />
                </dd>
                <dt>Equipes:
                    <label class="add" ng-click="base.object.teams.push('')">+</label>
                </dt>
                <dd ng-repeat="t in base.object.teams track by $index">
                    <input class="block" type="text" ng-model="t" ng-blur="base.addTeam($event, $index, t)" />
                </dd>
            </dl>
            <div class="divider"></div>
            <button ng-click="base.object = null; base.isActive = false; base.isEditing = false;" class="btn btn-secondary btn-outline btn-block margin-bottom">Cancelar</button>
            <button ng-click="base.saveTeam(base.object); base.object = null; base.isActive = false" class="btn btn-primary btn-block">Salvar Equipe</button>
        </div>
    </div>
</div>