<div id="actionbar">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{profile.isEditing ? profile.selectedProfile.name : 'Novo Perfil'}}</h4>
            <div class="divider"></div>
            <dl>
                <dt>Nome:</dt>
                <dd>
                    <input class="block " type="text" ng-model="profile.selectedProfile.name" />
                </dd>
                <dt>Descrição:</dt>
                <dd>
                    <textarea class="block" ng-model="profile.selectedProfile.description"></textarea>
                </dd>
                <div class="divider"></div>

                <!-- <button class="btn btn-secondary btn-outline btn-block margin-bottom" ng-click="profile.checkAll(profile.check); profile.check = !profile.check">{{profile.check ? "Marcar Todos" : "Desmarcar Todos"}}</button> -->

                <div class="margin-bottom">
                    <dt class="margin-bottom">Nível de alarme: </dt>
                    <dd ng-repeat="alarm in profile.selectedProfile.alarmLevel">
                        <input type="checkbox" class="margin-right-small" ng-model="alarm.selected" id="{{alarm.code}}"/>
                        <label for="{{alarm.code}}">{{alarm.name}}</label>
                    </dd>
                </div>
                <div class="divider"></div>
                <div class="margin-bottom" ng-repeat="access in profile.selectedProfile.accesses">
                    <dt class="margin-bottom">{{access.moduleName}}:</dt>
                    <dd ng-repeat="f in access.functionalities">
                        <div>
                            <i class="fa fa-eye margin-right-small" data-toggle="tooltip" title="Permite visualizar" data-placement="right"></i>
                            <i class="fa fa-pencil-square-o margin-right-small" data-toggle="tooltip" title="Permite Editar" data-placement="right" ng-if="f.allowView && f.accessCode !== 'map'"></i>
                        </div>
                        <div>
                            <input type="checkbox" class="margin-right-small" ng-model="f.allowView" data-toggle="tooltip" title="Permite visualizar"
                                data-placement="right" ng-class="{inactive : f.accessCode == 'map'}" />
                            <input type="checkbox" class="margin-right-small" ng-model="f.allowChange" ng-if="f.allowView && f.accessCode !== 'map'"
                                data-toggle="tooltip" title="Permite editar" data-placement="right" />
                            <span>{{f.name}}</span>
                        </div>
                    </dd>
                    <div class="divider"></div>
                </div>
            </dl>
            <div>
                <button ng-click="profile.cancelAction()" class="btn btn-secondary btn-outline btn-block margin-bottom">Cancelar</button>
                <button ng-click="profile.removeProfile()" class="btn btn-secondary btn-outline btn-danger btn-block margin-bottom">Remover Perfil</button>
                <button ng-click="profile.saveProfile()" class="btn btn-primary btn-block margin-bottom">Salvar Perfil</button>
            </div>

        </div>
    </div>
</div>