<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="active" href="#!/map">
                    <i class="fa fa-location-arrow  fa-fw"></i>Mapa</a>
            </li>
            <li>
                <a href="#!/alarm">
                    <i class="fa fa-exclamation-triangle fa-fw"></i>Alarmes</a>
            </li>
            <li>
                <a href="#!/damage">
                    <i class="fa fa-chain-broken fa-fw"></i>Registro de danos</a>
            </li>
            <li>
                <a href="#!/report">
                    <i class="fa fa-area-chart"></i>Relatórios</a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-sliders fa-fw"></i>Configurações
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#!/data">Gestão de Dados</a>
                    </li>
                    <li>
                        <a href="#">Elementos de Mapa
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#!/feeder">Linha</a>
                            </li>
                            <li>
                                <a href="#!/line">Cabos</a>
                            </li>
                            <li>
                                <a href="#!/icons">Ícones</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li>
                        <a href="#!/alarmsConfig">Alarmes</a>
                    </li>
                    <!-- <li>
                        <a href="#!/base">Base Operacional</a>
                    </li> -->
                    <!-- <li>
                        <a href="#">Paramêtros do sistema
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#!/a">Distância crítica</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="#">Acessos
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#!/profile">Perfis</a>
                            </li>
                            <li>
                                <a href="#!/user">Usuários</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <a href="http://www.concert.com.br" target="_blank" class="concert-logo">
            <img class="logo-concert" src="scripts/dist/img/logo-concert.png" />
        </a>
    </div>
</div>