<div id="actionbar">
    <div class="row">
        <div class="col-sm-12">
            <h4>{{user.isEditing ? 'Editar Usuário' : 'Novo usuário'}}</h4>
            <div class="divider"></div>
            <dl>
                <dt>Nome:</dt>
                <dd>
                    <input class="block " type="text" ng-model="user.selectedUser.name" />
                </dd>
                <dt>Login:</dt>
                <dd>
                    <input class="block " type="text" ng-model="user.selectedUser.login" />
                </dd>
                <div class="divider"></div>
                <dt>Notificação:</dt>
                <dd>
                    <!-- <input type="checkbox" ng-model="user.selectedUser.sms_alert" id="sms">
                    <label for="sms">SMS</label> -->
                    <input type="checkbox" ng-model="user.selectedUser.email_alert" id="email">
                    <label for="email">e-mail</label>
                </dd>
                <!-- <dt ng-if="user.selectedUser.sms_alert">Telefone:</dt>
                <dd>
                    <input class="block " type="tel" ng-model="user.selectedUser.phone" ng-if="user.selectedUser.sms_alert" />
                </dd> -->
                <dt ng-if="user.selectedUser.email_alert">E-mail:</dt>
                <dd>
                    <input class="block " type="email" ng-model="user.selectedUser.email" ng-if="user.selectedUser.email_alert" />
                </dd>
                <div class="divider"></div>
                <dt class="margin-bottom">Perfil relacionado:</dt>
                <dd ng-if="!user.selectedUser.profiles || user.selectedUser.profiles.length == 0">
                    <b>Nenhum perfil selecionado até o momento.</b>
                </dd>
                <dd ng-repeat="p in user.selectedUser.profiles">
                    <div class="row">
                        <div class="col col-sm-11">
                            <label>{{p}}</label>
                        </div>
                        <div class="col col-sm-1">
                            <button ng-click="user.selectedUser.profiles.splice($index, 1)" class="btn btn-icon pull-right">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </dd>
            </dl>
            <div class="divider"></div>
            <dd>
                <div class="row">
                    <div class="col col-sm-12">
                        <select class="block" ng-options="prof.name for prof in user.profiles" ng-model="user.prof">
                        </select>
                    </div>
                </div>
            </dd>
            <dd>
                <button ng-click="user.addProfileToUser(user.prof)" class="btn btn-secondary btn-outline btn-block margin-bottom">Adicionar Novo Perfil</button>
            </dd>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="divider"></div>
            <div>
                <button ng-click="user.removeUserAction(user.selectedUser.id)" ng-if="user.isEditing" class="btn btn-secondary btn-outline btn-danger btn-block margin-bottom">Excluir Usuário</button>
                <button ng-click="user.isEditing = false; user.isActive = false" class="btn btn-secondary btn-outline btn-block margin-bottom">Cancelar</button>
                <button ng-click="user.saveUser()" class="btn btn-primary btn-block margin-bottom">{{user.isEditing ? 'Salvar Usuário':'Adicionar Usuário'}}</button>
            </div>
        </div>
    </div>
</div>