<style>
    dd {
        margin-bottom: 0px;
    }

    .result {
        margin-top: 15px;
    }

    .result dd {
        margin-bottom: 15px;
    }
</style>
<div id="page-wrapper" class="">
    <div class="row topbar">
        <div class="col-md-4">
            <h4>Gerar quantificação de pessoas</h4>
        </div>
        <div class="col-md-8">
            <button class="btn btn-secondary margin-left pull-right" ng-click="damage.cancelAddDamage()">
                <i class="fa fa-ban" aria-hidden="true"></i>
                Cancelar
            </button>
            <button class="btn btn-success margin-left pull-right" ng-click="damage.generateDamage()" ng-disabled="!damage.checkIsValid()">
                <i class="fa fa-list-ol" aria-hidden="true"></i>
                Gerar
            </button>
        </div>
    </div>
    <div class="row animated slideInLeft" ng-if="!damage.contingency">
        <dl class="col-md-12">
            <dt>Local do dano:</dt>
            <div class="row">
                <dd class="col-md-4">
                    <input id="input1" name="concession" on-element-finish-render="inputfinish" placeholder="Linha, ex: ATE" type="search" />
                </dd>
                <dd class="col-md-4" ng-if="damage.selectedDamage.concession">
                    <input id="input2" name="tower" on-element-finish-render="inputfinish" placeholder="Torre, ex: 1234" type="search" />
                </dd>
            </div>
            <hr/>
        </dl>
        <dl ng-repeat="d in damage.damageParameters.defaultParams" class="col-md-12">
            <dt>{{d.name}}:</dt>
            <div class="row">
                <dd ng-if="d.date" class="col col-md-3">
                    <input type="datetime-local" id="datetimepicker1" step="60" value="{{damage.selectedDamage.dateValue}}" onchange="changeDate(this)"
                    />
                </dd>
                <dd class="col col-md-3" ng-repeat="opt in d.options" style="margin-top: 10px">
                    <input type="radio" class="margin-right-xsmall" name="{{d.name}}" ng-model="damage.selectedDamage.defaultParams[d.name]"
                        id="{{d.name + opt.name}}" ng-value="opt" />
                    <label for="{{d.name + opt.name}}" style="position: absolute">{{opt.name}}</label>
                </dd>
            </div>
            <hr/>
        </dl>
        <dl class="col-md-12">
            <dt>Selecione o tipo de dano:</dt>
            <dd>
                <select ng-options="d.name for d in damage.damageParameters.damages" ng-model="damage.selectedDamage.damage">
                    <option value="">-- Selecione --</option>
                </select>
            </dd>
            <hr/>
        </dl>
        <dl ng-repeat="d in damage.selectedDamage.damage.params" class="col-md-12">
            <dt>{{d.name}}:</dt>
            <div class="row">
                <dd class="col col-md-3" ng-repeat="opt in d.options" style="margin-top: 10px">
                    <input type="radio" class="margin-right-xsmall" name="{{d.name}}" ng-model="damage.selectedDamage.damages[d.name]" id="{{d.name + opt.name}}"
                        ng-value="opt" />
                    <label for="{{d.name + opt.name}}" style="position: absolute">{{opt.name}}</label>
                </dd>
            </div>
            <hr/>
        </dl>
    </div>
    <div class="row animated slideInLeft" ng-if="damage.contingency">
        <h4>{{damage.selectedDamage.damage.name}}</h4>
        <dl class="result">
            <dt>Nível de contigência:</dt>
            <dd>{{damage.contingency.name}}</dd>

            <dt>Regionais:</dt>
            <dd>{{damage.contingency.regional}}</dd>

            <dt>Tempo de indispobibilidade:</dt>
            <dd>{{damage.contingency.unavailability}}</dd>

            <dt>Número de colaboradores alocados:</dt>
            <dd>
                <input type="number" ng-model="damage.contingency.peopleQuantity">
            </dd>
            <button class="btn btn-secondary margin-rigth" ng-click="damage.contingency = undefined; damage.animate('out')">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
            </button>
            <button class="btn btn-success margin-rigth" ng-click="damage.saveDamage()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Salvar
            </button>
        </dl>
    </div>
</div>