<div id="page-wrapper">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Alarmes</h4>
        </div>
        <div class="col-sm-8">
            <button class="btn btn-primary margin-left pull-right" ng-click="alarm.stopSounds()">
                <i class="glyphicon glyphicon-volume-off" ng-if="alarm.volumeOff"></i>
                <i class="glyphicon glyphicon-volume-up" ng-if="!alarm.volumeOff"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <table id="example" class="table table-striped table-bordered"cellspacing="0" width="100%">
    </div>
</div>