<style>
    .tab-pane {
        padding: 10px;
    }

    dl {
        margin-bottom: 20px;
    }

    dt {
        margin-bottom: 15px;
    }

    .custom-handle {
        height: 30px !important;
        width: 30px !important;
        text-align: center;
        border-radius: 15px;
        top: -10px !important;
        padding: 5px;
        outline-color: #ff000000;
    }

    .ui-state-active {
        border: 1px solid #f37021 !important;
        background: #f37021 !important;
    }

    .ui-slider {
        margin-top: 25px;
    }

    .invalid {
        border: 1px solid red !important;
    }

    .add {
        color: green;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }

    .remove {
        color: red;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .email-inputs {
        padding-left: 0px;
        margin-bottom: 5px !important;
    }
</style>
<div id="page-wrapper">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Configuração de alarmes</h4>
        </div>
        <div class="col-sm-8">
            <button class="btn btn-success margin-right pull-right" ng-click="alarm.saveParameters()" ng-if="alarm.isModified">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Salvar modificações
            </button>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="{{$index == 0  ? 'active': ''}}" ng-repeat="p in alarm.alarmParameters" ng-click="alarm.selectTab($event, p.name)">
                <a data-toggle="tab" href="">{{p.name}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="{{p.name}}" class="tab-pane fade in {{$index == 0  ? 'active': ''}}" ng-repeat="p in alarm.alarmParameters">
                <dl class="col-md-12">
                    <input type="checkbox" class="margin-right-xsmall" ng-model="p.sendToScada" ng-change="alarm.isModified = true" id="{{p.name}}_{{$index}}"
                    />
                    <label for="{{p.name}}_{{$index}}">Enviar para SCADA</label>
                </dl>
                <dl class="col-md-12">
                    <dt>
                        Criticidade
                    </dt>
                    <dd>
                        <div id="slide_{{p.name}}" name="{{p.name}}" on-element-finish-render="elementFinishRender">
                            <div id="handle-{{p.name}}-0" class="custom-handle ui-slider-handle "></div>
                            <div id="handle-{{p.name}}-1" class="custom-handle ui-slider-handle "></div>
                        </div>
                    </dd>
                </dl>
                <dl class="col-md-6">
                    <dt>
                        Cor padrão do alarme
                    </dt>
                    <dd>
                        <input type="color" ng-model="p.color" ng-change="alarm.isModified = true">
                    </dd>
                </dl>
                <dl class="col-md-6">
                    <dt>
                        Som padrão do alarme
                    </dt>
                    <dd>
                        <button class="btn btn-secondary" ng-click="alarm.testSound(p); p.volumeOn = !p.volumeOn">
                            <i class="fa fa-stop" ng-if="p.volumeOn"></i>
                            <i class="fa fa-play" ng-if="!p.volumeOn"></i>
                        </button>
                        <button class="btn btn-secondary" ng-click="alarm.openFileDialog(p.name)">
                            <i class="fa fa-file-audio-o"></i>
                            Alterar arquivo de áudio
                        </button>
                        <input type="file" multiple="false" ng-hide="true" id="file_{{p.name}}" name="{{p.name}}" accept="audio/*" onchange="sendFile(this)"
                        />
                    </dd>
                </dl>
                <!-- <dl class="col-md-12">
                    <input type="checkbox" class="margin-right-xsmall" ng-model="p.sendEmail" ng-change="alarm.isModified = true; p.emails = []"
                        id="{{p.name}}{{$index}}_email" />
                    <label for="{{p.name}}{{$index}}_email">Enviar e-mail</label>
                    <span class="add" ng-click="p.emails.push(''); alarm.isModified = true" ng-if="p.sendEmail">+</span>
                    <dt ng-if="p.sendEmail" style="margin-top: 15px;">
                        E-mails cadastrados:
                    </dt>
                    <dd ng-repeat="e in p.emails track by $index" class="col-md-3 email-inputs">
                        <input type="email" ng-model="e" ng-blur="p.emails[$index] = e" class="{{e == null ? 'invalid': ''}}" ng-change="e == null ? alarm.isModified = false : alarm.isModified = true"/>
                        <span class="remove" ng-click="p.emails.splice($index,1); alarm.isModified = true">x</span>
                    </dd>
                </dl> -->
            </div>
        </div>
        <!-- <div class="col-md-1 text-center divider-right">
            <dt>
                Descrição
            </dt>
            <dd ng-repeat="p in alarm.alarmParameters">
                <p>{{p.name}}</p>
            </dd>
        </div>
        <div class="col-md-1 text-center divider-right">
            <dt>
                Enviar para SCADA
            </dt>
            <dd ng-repeat="p in alarm.alarmParameters">
                <input type="checkbox" class="margin-right-xsmall" ng-model="p.sendToScada" ng-change="alarm.isModified = true" />
            </dd>
        </div>
        <div class="col-md-3 divider-right">
            <dt class="text-center ">
                Valor crítico
            </dt>
            <dd class="margin-left">
                Até:
                <input type="number" class="margin-left-small" min="{{alarm.alarmParameters[0].minValue}}" max="{{alarm.alarmParameters[1].minValue}}"
                    ng-model="alarm.alarmParameters[0].maxValue" ng-change="alarm.alarmParameters[1].minValue = alarm.alarmParameters[0].maxValue"
                />
            </dd>
            <dd class="margin-left">
                De:
                <input type="number" class="margin-left-small margin-right" min="{{alarm.alarmParameters[0].maxValue}}" max="{{alarm.alarmParameters[2].minValue}}"
                    ng-model="alarm.alarmParameters[1].minValue" ng-change="alarm.alarmParameters[0].maxValue = alarm.alarmParameters[1].minValue"
                /> Até:
                <input type="number" class="margin-left-small" min="{{alarm.alarmParameters[1].minValue}}" max="{{alarm.alarmParameters[2].minValue}}"
                    ng-model="alarm.alarmParameters[1].maxValue" ng-change="alarm.alarmParameters[2].minValue = alarm.alarmParameters[1].maxValue"
                />
            </dd>
            <dd class="margin-left">
                A partir de:
                <input type="number" class="margin-left-small" min="{{alarm.alarmParameters[1].maxValue}}" max="{{alarm.alarmParameters[2].maxValue}}"
                    ng-model="alarm.alarmParameters[2].minValue" ng-change="alarm.alarmParameters[1].maxValue = alarm.alarmParameters[2].minValue"
                />
            </dd>
        </div>
        <div class="col-md-1 text-center divider-right">
            <dt>
                Cor padrão
            </dt>
            <dd ng-repeat="p in alarm.alarmParameters">
                <input type="color" ng-model="p.color">
            </dd>
        </div>
        <div class="col-md-2 text-center divider-right">
            <dt>
                Som de alarme padrão
            </dt>
            <dd ng-repeat="p in alarm.alarmParameters">
                <button class="btn btn-secondary margin-right" ng-click="alarm.testSound()">
                    <i class="glyphicon glyphicon-play"></i>
                </button>
                <a>Alterar</a>
            </dd>
        </div> -->
    </div>
</div>