<div id="page-wrapper" class="">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Alocação de equipes</h4>
        </div>
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary pull-right margin-left" ng-click="team.generateAlocation()">Gerar Alocação</button>
            <!-- <button type="button" class="btn btn-secondary btn-outline pull-right margin-left" ng-click="calendar.removeCalendar()">Excluir</button>
            <button type="button" class="btn btn-primary pull-right margin-left">Exportar</button>
            <button type="button" class="btn btn-secondary btn-outline pull-right margin-left">Ver detalhes</button>
            <button type="button" class="btn btn-secondary btn-outline pull-right margin-left">Visualizar</button> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" ng-repeat="c in team.allocations">
            <div class="card {{c.active ? 'active': ''}}" ng-dblclick="team.showAllocationDetails(c)" ng-click="c.active = !c.active">
                <img src="./scripts/dist/img/map-calendar.jpg" />
                <div class="card-info">
                    <h5>{{c.id}}</h5>
                    <small class="opacity-50">Criado em: {{c.date | date: 'medium'}}</small>
                    <br />
                    <small class="opacity-50">Despachado: {{c.dispached ? 'Sim': 'Não'}}</small>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="allocationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{team.selectedAllocation.id}}</h4>
            </div>
            <div class="modal-body">
                <img src="./scripts/dist/img/map-calendar.jpg" class="block margin-bottom" />
                <dl class="row margin-bottom">
                    <div class="col col-xs-12 margin-bottom">
                        <dt>Nome:</dt>
                        <dd>{{team.selectedAllocation.id}}</dd>
                    </div>
                    <div class="col col-xs-4">
                        <dt>Data:</dt>
                        <dd>{{team.selectedAllocation.date | date:'dd-MM-yyyy HH:mm:ss'}}</dd>
                    </div>
                    <div class="col col-xs-4">
                        <dt>Despachado:</dt>
                        <dd>{{team.selectedAllocation.dispached ? 'Sim': 'Não'}}</dd>
                    </div>
                    <div class="col col-xs-4" ng-if="team.selectedAllocation.dispachedDate">
                        <dt>Data da exportação:</dt>
                        <dd>{{team.selectedAllocation.dispachedDate | date:'dd-MM-yyyy HH:mm:ss'}}</dd>
                    </div>
                </dl>
                <dl class="row">
                    <div class="col col-xs-12 margin-bottom">
                        <dt>Eventos:</dt>
                        <dd>{{team.selectedAllocation.events.length}}</dd>
                    </div>
                    <div class="col col-xs-12">
                        <dt>Alimentadores/Cidades:</dt>
                        <dd>{{team.selectedAllocation.lines.join(',')}}</dd>
                    </div>                    
                </dl>                
                <div class="divider"></div>
                <dl class="row">
                    <div class="col col-xs-6">
                        <dt>Tempo de trabalho (h):</dt>
                        <dd>{{team.selectedAllocation.workTime | number :2}}</dd>
                    </div>
                    <div class="col col-xs-6">
                        <dt>Velocidade média de deslocamento (km/h):</dt>
                        <dd>{{team.selectedAllocation.velocity | number: 2}}</dd>
                    </div>
                </dl>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="team.editAllocation()">Visualizar</button>
                <!-- <button type="button" class="btn btn-primary" ng-click="calendar.exportCalendar()" ng-if="!calendar.selectedCalendar.Exported && calendar.selectedCalendar.IsValidPath && checkAccess('exportCalendar')">Exportar</button> -->
                <!-- <button type="button" class="btn btn-secondary btn-outline btn-danger" ng-click="calendar.removeCalendar()" ng-if="!calendar.selectedCalendar.Exported && checkAccess('editCalendar', true)">Excluir</button> -->
            </div>
        </div>
    </div>
</div>