<style>
    tr {
        cursor: pointer;
    }

    th {
        text-align: center;
        text-anchor: middle
    }

    .row-selected {
        background-color: #f37021b3 !important;
    }
</style>
<div id="page-wrapper" class="">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Danos ocorridos </h4>
        </div>
        <div class="col-sm-8 ">
            <button class="btn btn-primary margin-left pull-right" ng-click="damage.addDamage()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <dd class="button-group" style="margin-bottom: 20px">
    </div>
    <table id="damageTable" class="table table-striped table-bordered responsive  display nowrap" width="100%"></table>
</div>
<ng-include src="'ng-includes/damageDetailsActionBar.html'"></ng-include>