<div id="page-wrapper">
        <div class="row topbar">
            <div class="col-sm-6">
                <h4>Integração de Sistemas - Configurações</h4>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary margin-left  pull-right" onclick="domUtilities.showMessage('success', undefined, 'Itens salvos com sucesso')">Salvar alterações</button>
            </div>
        </div>
        <div class="row">
            <div class="row" ng-repeat="b in data.bus" style="margin-bottom: 10px">
                <div class="col-md-3" style="margin-top: 30px">
                    <h6>{{b.name}}</h6>
                </div>
                <div class="col-md-3">
                    <dt>URL:</dt>
                    <input type="url" ng-model="b.url" style="width: 80%">
                </div>
                <div class="col-md-2">
                    <dt>Usuário:</dt>
                    <input type="text" ng-model="b.user" style="width: 80%">
                </div>
                <div class="col-md-2">
                    <dt>Senha:</dt>
                    <input type="password" ng-model="b.password" style="width: 80%">
                </div>           
            </div>
        </div>
    </div>
    
    
    <!-- <div id="page-wrapper" class="w-actionbar">
        <div class="row topbar">
            <div class="col-sm-4">
                <h4>Base de Dados</h4>
            </div>
            <div class="col-sm-8" ng-if="checkAccess('dataImport')">
                <button class="btn btn-primary margin-left  pull-right {{dataManagement.checkImportDataButton()}}" ng-click="dataManagement.startImportationOnSever()">Importar Dados no Servidor</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 h-padding">
                <dl>
                    <dd>Elementos de rede de distribuição:</dd>
                    <dt>Alimentador:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'alimentador'" ng-model="dataManagement.filesOnServer.line">
                        </select>                    
                    </dd>
                    <dt>Hipernode:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'hipernode'" ng-model="dataManagement.filesOnServer.hipernode">
                        </select>
                    </dd>
                    <dt>Segmento de Linha:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'segmento'" ng-model="dataManagement.filesOnServer.aclinesegment">
                        </select>
                    </dd>
                    <dt>Transformador:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'transformador'" ng-model="dataManagement.filesOnServer.powerTransformer">
                        </select>
                    </dd>
                    <dt>Chave:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'chave'" ng-model="dataManagement.filesOnServer.switch">
                        </select>
                    </dd>
                    <dt>Religador:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'religador'" ng-model="dataManagement.filesOnServer.recloser">
                        </select>
                    </dd>
                    <dt>Regulador de Tensão:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'regulador'" ng-model="dataManagement.filesOnServer.shuntCompensator">
                        </select>
                    </dd>
                    <dt>Poste:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'poste'" ng-model="dataManagement.filesOnServer.pole">
                        </select>
                    </dd>
                </dl>
            </div>
            <div class="col-sm-6 h-padding">
                <dl>
                    <dd>Compensações / Indicadores:</dd>
                    <dt>Compensações DIC/FIC/DMIC:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'compensacoes'" ng-model="dataManagement.filesOnServer.compensation">
                        </select>
                    </dd>
                    <dt>Indicadores:</dt>
                    <dd>
                        <select class="block" ng-options="item.Name for item in dataManagement.integrationFiles | filter: 'ipd'" ng-model="dataManagement.filesOnServer.ipd">
                        </select>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div ng-if="checkAccess('fileUpload', true)">
        <ng-include src="'ng-includes/dataManagementActionBar.html'"></ng-include>
    </div> -->