<div id="page-wrapper" class="">
        <div class="row topbar">
            <div class="col-sm-4">
                <h4>Cor padrão das linhas </h4>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-6 margin-bottom h-padding">
                <dl>
                    <dd ng-repeat="f in feeder.feederColors | orderBy:'$index'">
                        <input class="block inactive" type="text" ng-model="f.name" />
                    </dd>
                </dl>
            </div>
            <div class="col-sm-2 h-padding margin-bottom">
                <dl>
                    <dd ng-repeat="color in feeder.feederColors | orderBy:'$index'">
                        <input class="block" type="color" ng-model="color.color" ng-change="feeder.saveColor(color)" />
                    </dd>
                </dl>
            </div>
        </div>
    </div>