<div id="page-wrapper" class="no-topbar {{team.isEditing ? '': 'w-actionbar'}}">
    <ng-include src="'ng-includes/map.html'"></ng-include>
</div>
<ng-include src="'ng-includes/generateAllocationActionBar.html'"></ng-include>