<div id="page-wrapper" class="">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Ícones</h4>
        </div>
        <!-- <div class="col-sm-8">
            <button class="btn btn-primary margin-left pull-right {{icon.enableSaveChanges()}}" ng-click="icon.saveModifications()" >Salvar modificações</button>
            <button class="btn btn-secondary btn-outline btn-danger pull-right {{icon.enableRemoveIcon()}}"ng-click="icon.removeIcon()">Remover ícone</button>
        </div> -->
    </div>
    <div class="row">
        <div class="col-sm-3" ng-repeat="i in icon.icons">
            <input type="file" name="pic" accept="image/*" ng-hide="true" onchange="angular.element(this).scope().icon.loadPicture(this)" id="inputIconFile{{$index}}" />
            <div class="card {{i.active? 'active': ''}}" ng-dblclick="icon.triggerClick($index, i)" ng-click="icon.activeSelection(this)">                
                <img class="icon" ng-src="{{i.path ? i.path : './scripts/dist/img/no-icon.png'}}">
                <div class="card-info">
                    <h6>{{i.alias}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>