<div id="page-wrapper" class="">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Cores dos cabos</h4>
        </div>
        <div class="col-sm-8">
            <button ng-click="line.saveGroupModifications(line.selectedConfigGroup)" ng-class="{inactive : !line.isEditing}" class="btn btn-primary margin-left  pull-right">Salvar Descrição</button>
            <button ng-click="line.discardModifications()" ng-if="line.isEditing" class="btn btn-secondary btn-outline margin-left pull-right">Cancelar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 margin-bottom">
            <dl>
                <dt class="margin-bottom">Grupo de Configuração:</dt>
                <dd>
                    <select class="block" ng-options="config.Name for config in line.configGroupACLineSegmentsAndTypes" ng-model="line.selectedConfigGroup"></select>
                </dd>
                <dt class="margin-bottom">Descrição:</dt>
                <dd><textarea class="block" ng-change="line.isEditing = true" ng-model="line.selectedConfigGroup.Description"></textarea></dd>
            </dl>
        </div>
        <div class="col-sm-6 margin-bottom h-padding">
            <dl>
                <dt class="margin-bottom">{{line.selectedConfigGroup.Name}}:</dt>
                <dd ng-repeat="name in line.selectedConfigGroup.ConfigTypesACLineSegment | orderBy:'Name'"><input class="block inactive" type="text" ng-model="name.Name" /></dd>
            </dl>
        </div>
        <div class="col-sm-2 h-padding margin-bottom">
            <dl>
                <dt class="margin-bottom">Cor:</dt>
                <dd ng-repeat="color in line.selectedConfigGroup.ConfigTypesACLineSegment | orderBy:'Name'"><input class="block {inactive : !checkAccess('cableColorConfiguration', true)}" type="color" ng-model="color.Color" ng-change="line.saveModifications(color)" /></dd>
            </dl>
        </div>
    </div>
</div>