<style>
    .navbar-default {
        border-color: #38465f;
    }

    .map {
        width: 100%;
        height: calc(100% - 80px);
        position: absolute;
        top: 80px;
        transition: linear 0.5s;
        padding: 0px;
        margin: 0px;
    }

    .map.open {
        width: calc(100% - 250px);
        height: calc(100% - 80px);
        position: absolute;
        margin-left: 250px;
        transition: linear 0.5s;
    }

    .menu-bar {
        position: absolute;
        top: 80px;
        color: #fff !important;
        z-index: 999999;
        left: 19px;
        font-size: 30px;
        cursor: pointer;
        transition: linear 0.5s;
        margin-left: 250px;
        opacity: 0.3;
    }

    .menu-bar.close {
        margin-left: 0px;
        margin-top: 5px;
    }

    .menu-bar:hover {
        opacity: 1;
    }

    .sidebar {
        transition: linear 0.5s;
    }

    .concert-logo {
        transition: linear 0.4s;
    }

    .sidebar.close {
        margin-left: -250px;
    }

    .concert-logo.close {
        margin-left: -250px;
    }

    .concert-logo.close img {
        margin-left: -250px;
        transition: linear 0.4s;
    }

    #arcGisMap {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .esri-ui-top-left {
        top: 25px !important;
    }

    .esri-ui-top-right {
        top: 30px !important;

    }

    .esri-input {
        border: none !important;
    }

    .esri-basemap-gallery.esri-widget.esri-widget--panel-height-only,
    .esri-layer-list.esri-widget.esri-widget--panel {
        max-height: 300px !important;
    }

    .map-search-area {
        right: 15px;
    }

    #search-container {
        position: absolute;
        z-index: 1;
        background-color: white;
        width: 315px;
        padding: 10px;
        right: 15px;
        margin-top: 45px;
        border-radius: 7px;
        border: 1px solid #38465f;
        bottom: 30px;
        color: #38465f;
        display: none;
    }

    #search-container h6 {
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    #search-container h6 {
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    #search-container .row {
        margin-bottom: 5px;
    }


    #search-container label {
        margin-right: 5px;
        width: 20px;
    }

    #search-container button {
        margin-right: 7px;
    }

    #search-container .col-md-12 {
        margin-bottom: 5px;
    }

    i {
        cursor: pointer;
    }

    i.fa-plus {
        position: absolute;
        margin-top: -30px;
        left: 10px;
    }

    i.fa-minus {
        position: absolute;
        margin-top: -15px;
        left: 10px;
    }

    .row .icon-range {
        position: fixed;
        cursor: pointer;
        z-index: 5;
        margin-top: 3px;
        right: 0;
    }

    #hourValue {
        margin-left: 5px;
    }

    .range div {
        font-size: 6.5pt;
        margin-top: 10px;
    }

    .range input {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .min {
        position: absolute;
        left: 0;
    }

    .max {
        position: absolute;
        right: 0;
    }

    .color {
        padding: 0;
        height: 15px;
        /* background: linear-gradient(to right, red, yellow);         */
        margin-top: 0px !important;
    }
</style>

<div id="page-wrapper map" class="no-topbar">
    <div class="menu-bar close">
        <i class="fa fa-bars" aria-hidden="true" ng-click="map.sideBarOpen = !map.sideBarOpen; map.showSideBar()"></i>
    </div>
    <div class="map">
        <div class="map-search-area">
            <span class="fa fa-search fa-fw search-icon"></span>
            <input class="map-search" type="search" placeholder="Ex.: PTF-F1" id="searchInput" focusiconsearch />
        </div>
        <div id="search-container" current-layer="">
            <h6 class="title" id="containerTitle"></h6>
            <div class="row">
                <div class="col-md-12">
                    <label>De:</label>
                    <input type="datetime-local" step="0.001" id="startDate" onblur="changeSearchDate(this)" />
                </div>
                <div class="col-md-12">
                    <label>Até:</label>
                    <input type="datetime-local" step="0.001" id="endDate" onblur="changeSearchDate(this)" />
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" id="searchButton">Buscar</button>
                </div>
            </div>
            <div class="row">
                <i id="play" class="fa fa-{{map.isPlay ? 'pause': 'play'}}" aria-hidden="true" ng-click="map.isPlay = !map.isPlay; map.animate()"></i>
                <i class="fa fa-minus" aria-hidden="true" ng-click="map.incrementTime('minus')"></i>
                <i class="fa fa-plus" aria-hidden="true" ng-click="map.incrementTime('plus')"></i>
                <span id="hourValue" style="margin-left: 5px">
                    Hora:
                </span>
                <div class="col-md-12 range">
                    <input type="range" min="0" max="86400000" step="1000" value="0" id="range" />
                    <div class="col-md-12">
                        <div class="col-md-12 color" id="color"></div>
                    </div>
                    <div class="col-md-12">
                        <span class="min" id="min">Min:</span>
                        <span class="max" id="max">Max:</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="arcGisMap"></div>
    </div>
</div>