<div id="page-wrapper" class="{{base.isActive ? ' w-actionbar': ''}}">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Bases Operacionais</h4>
        </div>
        <div class="col-sm-8">
            <button ng-click="base.displayActionBar(); base.isActive = true" class="btn btn-primary margin-left pull-right {{base.isActive ? 'inactive': ''}}">Adicionar Base Operacional</button>
        </div>
    </div>
    <table class="table table-bordered table-responsive table-fit table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Equipes</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer" ng-repeat="t in base.teams" ng-click="base.editTeam(t)">
                <td>{{t.Name}}</td>
                <td>{{t.Address}}</td>
                <td>{{t.Teams.join(', ')}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <ng-include src="'ng-includes/operationalBaseActionBar.html'"></ng-include>
</div>