<div id="page-wrapper" class="{{profile.isActive ? ' w-actionbar': ''}}">
        <div class="row topbar">
            <div class="col-sm-4">
                <h4>Perfis</h4>
            </div>
            <div class="col-sm-8">
                <button ng-click="profile.addProfile()" class="btn btn-primary margin-left  pull-right" ng-class="{inactive : profile.isEditing}">Adicionar Novo Perfil</button>
            </div>
        </div>
        <table class="table table-bordered table-responsive table-fit table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pointer" ng-click="profile.selectedProfile = prof; profile.isActive = true; profile.isEditing = true;" ng-repeat="prof in profile.profiles">
                    <td>{{prof.name}}</td>
                    <td>{{prof.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    
    <ng-include src="'ng-includes/profileActionBar.html'"></ng-include>