<style>
    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }

    li>a {
        cursor: pointer;
    }

    .error {
        color: rgba(228, 30, 30, 0.945);
        margin-top: 25px;
        font-weight: bold;
    }

    input[type=text] {
        width: 100px;
    }

    .table-title {
        position: absolute;
        margin-top: 15px;
    }

    .button-group {
        float: right;
    }

    #page-wrapper .topbar {
        padding-bottom: 10px !important;
        margin-bottom: 10px !important;
        top: 85px !important;
    }

    .forecast-info {
        display: grid;
        border-left: 1.5px solid #38465f;
        margin-left: 5px;
        padding: 5px;
        margin-bottom: 5px;
    }

    .forecast-info div {
        margin-left: 15px;
        padding: 5px;
        background-color: #38465f30;
    }   
</style>

<div id="page-wrapper" class="">
    <div class="row topbar">
        <div class="col-md-5">
            <dt>Relatório:</dt>
            <select ng-model="report.selectedReport" ng-options="r.name for r in report.reports" ng-change="report.loadReport()">
                <option value="">-- Selecione --</option>
            </select>
        </div>
        <div class="col-md-1" ng-if="report.selectedReport.selectLine" style="margin-top: 20px">
            <div class="" id="myDropdown" on-element-finish-render="dropDownFinishRender">
                <button class="btn btn-secondary btn-outline dropdown-toggle" type="button" data-toggle="dropdown">
                    Linhas
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="report.lineListClick($event, 'selectAll')">- Marcar todos -</a>
                        <a ng-click="report.lineListClick($event, 'unselectAll')">- Desmarcar todos -</a>
                    </li>
                    <li ng-repeat="l in report.lines" class="{{l.selected ? 'active' : ''}}">
                        <a ng-click="report.lineListClick($event, l)">{{l.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 error" ng-if="report.selectedReport.selectLine && !report.checkLinesSelecteds()">
            Selecione pelo menos uma linha.
        </div>
        <div class="col-md-1" ng-if="report.selectedReport.report7Filter">
            <dt>Dano:</dt>
            <select ng-model="report.selectDamageType" ng-options="d.title for d in report.damages" ng-change="report.loadDamageReport()">
                <option value="">-- Selecione --</option>
            </select>
        </div>

    </div>
    <div class="row" ng-if="report.selectedReport.showDefaultFilter">
        <div class="col-md-12" style="margin-top: -15px;">
            <div class="col-md-4">
                <dt>Periodo:</dt>
                <input type="text" id="start" on-element-finish-render="elementFinishRender" /> Até:
                <input type="text" id="end" on-element-finish-render="elementFinishRender" />
            </div>
            <div class="col-md-2">
                <dt>Intervalo:</dt>
                <select ng-model="report.interval" ng-options="r.name for r in report.intervals" ng-change="report.loadReport()">
                </select>
            </div>
            <div class="col-md-2">
                <dt>Tipo:</dt>
                <div style="margin-top: 10px">
                    <input type="radio" id="chart" name="type" ng-model="report.reportType" value="chart" ng-change="report.changeView()" />
                    <label for="chart">Gráfico</label>
                    <input type="radio" id="table" name="type" ng-model="report.reportType" value="table" ng-change="report.changeView()" />
                    <label for="table">Tabela</label>
                </div>
            </div>
            <div class="col-md-2" ng-if="report.reportType == 'chart'">
                <dt>Tipo:</dt>
                <select ng-model="report.selectedChart" ng-options="r.name for r in report.chartType" ng-init="report.selectedChart = report.chartType[0]"
                    ng-change="report.changeChartType()">
                </select>
            </div>
        </div>
        <div class="col-md-12" ng-if="report.reportType == 'table'">
            <dt class="table-title">{{report.selectedReport.name}}</dt>
            <div class="button-group"></div>
            <table id="reportTable" class="table table-striped table-bordered responsive  display nowrap" width="100%"></table>
        </div>
        <div class="col-md-12" id="container" ng-if="report.reportType == 'chart'" style="margin-bottom: -5px" on-element-finish-render="chartFinishRender"></div>
    </div>
    <div class="row" ng-if="report.selectedReport.report7Filter" style="margin-top: -15px;">
        <div class="col-md-12" ng-if="report.selectDamageType">
            <div class="col-md-4">
                <dt>Distância máxima do evento climático (m):</dt>
                <input ng-model="report.selectedDamageRadius" type="number" step="1" ng-init="report.selectedDamageRadius = 50" ng-blur="report.loadDamageReport()"
                />
            </div>
            <div class="col-md-3">
                <dt>Intervalo de horas (+/-):</dt>
                <input ng-model="report.selectedDamageHours" type="number" step="1" ng-init="report.selectedDamageHours = 1" ng-blur="report.loadDamageReport()"
                />
            </div>
        </div>
        <div class="col-md-12" id="reportDamageTable" ng-if="report.selectDamageType">
            <dt class="table-title">{{report.reportDamageTableTitle}}</dt>
            <div class="button-group"></div>
        </div>
    </div>
    <div class="row" ng-if="report.selectedReport.report8Filter" style="margin-top: -15px;">

        <div class="col-md-6">
            <dt>Período:</dt>
            <input type="datetime-local" id="dateStart" step="60" value="{{report.selectedReport.startDate}}" ng-blur="report.changeDate($event, 'startDate')"
                style="margin-right: 5px" />até
            <input type="datetime-local" id="dateEnd" step="60" value="{{report.selectedReport.endDate}}" ng-blur="report.changeDate($event, 'endDate')"
            />
        </div>
        <div class="col-md-2">
            <dt>Tolerânica (min):</dt>
            <input style="width: 100px" ng-model="report.selectedReport.minutes" type="number" step="1" ng-init="report.selectedReport.minutes = 30"
                ng-blur="report.loadThudersForecastRport()" />
        </div>
        <div class="col-md-2">
            <dt>Tolerância (m):</dt>
            <input style="width: 100px" ng-model="report.selectedReport.radius" type="number" step="1" ng-init="report.selectedReport.radius = 50"
                ng-blur="report.loadThudersForecastRport()" />
        </div>
        <div class="col-md-2">
            <dt>Tipo:</dt>
            <div style="margin-top: 10px">
                <input type="radio" id="chart" name="type" ng-model="report.reportType" value="chart" ng-change="report.loadThudersForecastRport()"
                />
                <label for="chart">Gráfico</label>
                <input type="radio" id="table" name="type" ng-model="report.reportType" value="table" ng-change="report.loadThudersForecastRport()"
                />
                <label for="table">Tabela</label>
            </div>
        </div>
        <div class="col-md-12" ng-if="report.reportType == 'table'">
            <dt class="table-title">{{report.selectedReport.name}}</dt>
            <div class="row" style="margin-top: 35px">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="(key, value) in report.correlatedThundersForecast.result">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="" ng-click="report.toggleAcordion('collapse' + $index)">{{key}}</a>
                            </h4>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body" ng-repeat="v in value track by $index">
                                <div class="forecast-info">
                                    Data da coleta: {{v.properties.collectionDate | date: 'dd/MM/yyyy HH:mm:ss.sss'}}
                                    <br> Quantidade de descargas: {{v.properties.electricalDischarges}}
                                    <br> Intensidade:{{v.properties.intensity}}
                                    <br> Tipo de descarga: {{v.properties.thunderType}}
                                    <dt ng-if="v.properties.forecastEvents.length > 0" style="margin: 7px">Previstos:</dt>
                                    <div ng-repeat="f in v.properties.forecastEvents track by $index">
                                        Data prevista: {{f.date | date: 'dd/MM/yyyy HH:mm:ss.sss'}}
                                        <br> Quantidade de descargas previstas: {{f.projectedElectricalDischarges}}
                                        <br> Probabilidade: {{f.probability * 100}}%
                                        <br> Prioridade: {{f.priority}}
                                        <br> Distânica do evento monitorado: {{f.distanceToRealEvent| number :'2'}}(m)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="forecastThunderChart" ng-if="report.reportType == 'chart'" style="margin-bottom: -5px"></div>
    </div>
</div>