<div id="page-wrapper" class="{{user.isActive ? ' w-actionbar': ''}}">
    <div class="row topbar">
        <div class="col-sm-4">
            <h4>Usuários</h4>
        </div>
        <div class="col-sm-8">
            <button ng-click="user.isActive = true; user.selectedUser = null; user.isEditing = false" class="btn btn-primary margin-left pull-right {{user.isActive ? 'inactive': ''}}">Adicionar Novo Usuário</button>
        </div>
    </div>
    <table class="table table-bordered table-responsive table-fit table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Perfil</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer" ng-click="user.selectedUser = u; user.isActive = true; user.isEditing = true" ng-repeat="u in user.users">
                <td>{{u.name}}</td>
                <td>{{u.profiles.join(', ')}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-include src="'ng-includes/userActionBar.html'"></ng-include>